doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet" href="/css/main.css")
        block styles
    body 
        header.main-header
            nav.main-header_nav
                ul.main-header_ul
                    li
                        a(href="/") Home
                    li
                        a(href="/admin/add-users") Add Users
        
        block content
        

#blockisusedtocreatehooksothatudonthavetocreatesimilartemplatesforhtmlagainnagain 